* {
	margin: 0px;
	padding: 0px;
	width: 100%;

	font-size: 20px;
	background-color: rgba(0,0,0,0.0);
}

html, body {
  	height: 100%;
  	background-color: black;
}

/* banners */

.banner {
	height: 100px;
	line-height: 100px;
	font-size: 50px;
	color: black;
	background-color: #A8D08D;
	text-align: center;
}

/* post feed */

.postDisplay {
	margin-top: 10px;
	background-color: rgba(0,0,0,0.0);
	width: 100%;
}

.post {
	display: inline-block;
	background-color: white;
	margin-bottom: 10px;
	padding-top:  30px;
	padding-bottom:  20px;
	padding-left:  2%;
	padding-right:  2%;
	width: 96%;
}

.header {
	font-size: 30px;
	font-weight: bold;
}

.media {
	width: 100%;
}

/* flexers */

.cols {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rows {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}